.popup {
	height: 150px;
	width: 300px;
	background-color: skyblue;
	position: relative;
	margin: 0 auto;
	padding: 20px;
}

.popup button {
	float: right;
}

.popup.active {
	display: block;
}

.popup.inactive {
	display: none;
}